@charset "utf-8";

*,  *::before, *::after {
    box-sizing: border-box;
}

html, body, main, div, span, h1, h2, h3, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #FF852C;
    --sub-color: #FFAB6F;
    --background-color: #F3F3F3;
    --text-color: #000000;
    --invert-text-color: #FFFFFF;

    --gray: #B0B0B0;
    --black: #000000;
}

body {
    font-family: "Noto Sans JP", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.material-symbols-outlined {
    vertical-align: bottom;
}

.app-name {
    color: var(--invert-text-color);
    font-size: 30px;
    font-weight: normal;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

header {
    color: var(--invert-text-color);
    background-color: var(--main-color);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-icon-container {
    display: flex;
    gap: 20px;
}

header .material-symbols-outlined {
    color: var(--invert-text-color);
    font-size: 40px;
}

#sub-header-button-container {
    display: none;
}

#sub-header-button {
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
}

#sub-header-checkbox:checked + #sub-header-button {
    transform: rotate(90deg);
}

#sub-header-checkbox {
    display: none;
}

#sub-header{
    background-color: var(--sub-color);
    text-align: center;
    display: none;
}

#sub-header a:hover {
    text-decoration: underline;
}

#sub-header li {
    margin: 10px 0;
}

main {
    width: 70%;
    margin: 0px auto;
}

footer {
    color: var(--invert-text-color);
    background-color: var(--sub-color);
    text-align: center;
    padding: 40px;
}

@media (max-width: 600px) {
    header {
        padding: 20px;
    }

    #header-icon-container {
        display: none;
    }

    #sub-header-button-container {
        display: inline-block;
    }

    main {
        width: 100%;
        padding: 0 20px;
    }
}

/* ========== ↑ 主に全ページ ========== */
/* ========== ↓ 主にindex ========== */
#search-container {
    border-bottom: 1px solid var(--gray);
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#searchByTag-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 10px;
}

#search-container input[type="text"],
#search-button,
#index-button-container a {
    height: 40px;
    border-radius: 5px;
}

#search-container input[type="text"] {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--gray);
}

#index-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    gap: 10px;
}

@media (max-width: 600px) {
    #index-button-container{
        flex-direction: column;
    }
}

#user-recipe {
    display: block;
    margin: 10px 0;
    color: var(--text-color);
}

#user-recipe input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 5px;
    accent-color: var(--text-color);
}

#search-button,
#index-button-container a {
    display: block;
    font-size: 16px;
    line-height: 25px;
    padding: 0 15px 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button {
    color: var(--invert-text-color);
    background-color: var(--main-color);
}

#search-button:active {
    background-color: var(--sub-color);
}

#search-container a {
    color: var(--main-color);
    background-color: var(--invert-text-color);
    border: 1px solid var(--main-color);
    padding-top: 5px;
    padding-right: 10px;
}

#search-container a:active {
    background-color: var(--background-color);
}

#search-button .material-symbols-outlined,
#search-container a .material-symbols-outlined {
    font-size: 25px;
}

.recipe-card {
    background-color: var(--invert-text-color);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.recipe-name-section {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.recipe-name {
    color: var(--text-color);
    font-weight: normal;
    font-size: 30px;
}

.recipe-genre {
    color: var(--invert-text-color);
    background-color: var(--sub-color);
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    flex-shrink: 0;
}

.recipe-time,
.recipe-ingredient {
    margin: 10px 0;
    color: var(--gray);
}

.recipe-category {
    margin-bottom: 5px;
}

.recipe-category span {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.recipe-mainIngredient span {
    color: var(--invert-text-color);
    background-color: var(--sub-color);
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
}

.recipe-userAndDate {
    color: var(--sub-color);
    text-align: right;
    margin-top: 10px;
}

#not-found {
    margin: 20px 0;
}

/* ========== ↑ 主にindex ========== */
/* ========== ↓ 主にdetail ========== */ 
.recipe-information {
    margin: 20px 0;
}

.recipe-information-title-section {
    color: var(--text-color);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-information-title-section p .material-symbols-outlined {
    font-size: 25px;
    color: var(--main-color);
}

.recipe-information-title-section button {
    height: 24px;
    width: 24px;
    color: var(--invert-text-color);
    background-color: var(--sub-color);
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.recipe-information-title-section button:active {
    background-color: var(--main-color);
}

.recipe-information-title-section button .material-symbols-outlined {
    font-size: 20px;
}

.recipe-information-content {
    color: var(--text-color);
    background-color: var(--invert-text-color);
    padding: 10px 20px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

#recipe-dataToCopy {
    display: none;
}

.button-container {
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.button-container .white-button,
.button-container .main-button {
    padding: 5px 15px;
    text-align: center;
}

.button-container .white-button {
    font-size: 16px;
    color: var(--main-color);
    background-color: var(--invert-text-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
}

.button-container .white-button:active {
    background-color: var(--background-color);
}

.button-container .main-button {
    font-size: 16px;
    color: var(--invert-text-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
}

.button-container .main-button:active {
    background-color: var(--sub-color);
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
    }
}

/* ========== ↑ 主にdetail ========== */
/* ========== ↓ 主にpost ========== */ 
#page-name-section {
    margin: 20px 0;
    text-align: center;
}

#page-name-section h1 {
    color: var(--text-color);
    font-size: 30px;
    font-weight: normal;
}

#page-name-section p {
    color: var(--main-color);
}

.post-item-container {
    margin: 20px 0;
    color: var(--text-color);
    font-size: 20px;
}

.post-item-container .material-symbols-outlined {
    color: var(--main-color);
    font-size: 25px;
}

.post-item {
    height: 40px;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding-left: 10px;
    line-height: 20px;
    color: var(--black);
}

.post-item-container textarea {
    height: 150px;
    resize: none;
    padding-top: 10px;
}

.post-item::placeholder,
.post-item-container textarea::placeholder {
    color: var(--gray);
}

.genre-group {
    display: flex;
    width: 100%;
}

.genre-option {
    width: 100%;
}

.genre-option input[type=radio] {
    opacity: 0;
    position: absolute;
}

.genre-option label {
    height: 40px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    color: var(--gray);
    background-color: var(--invert-text-color);
    padding: 7px 0;
    border: 1px solid var(--gray);
    font-size: 16px;
    text-align: center;
}

.genre-option:first-child label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.genre-option:last-child label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.genre-option input[type=radio]:checked+label {
    color: var(--invert-text-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* ========== ↑ 主にpost ========== */
/* ========== ↓ 主にuser_register, login ========== */ 
#userRegister-main,
#login-main {
    display: flex;
    justify-content:center; /* 横方向 */
	align-items:center; /* 縦方向 */
}

#userRegister-container,
#login-container {
    width: 50%;
}

@media (max-width: 900px) {
    #userRegister-container,
    #login-container {
        width: 100%;
    }
}

.button-container-withLink {
    margin: 20px auto;
    padding-top: 20px;
    border-top: 1px solid var(--gray);
}

.button-container-withLink .button-container {
    border-top: 0;
    margin-top: 0;
}

.link-message {
    flex: 1 0 100%;
    text-align: center;
}

.link-message a {
    color: var(--main-color);
    text-decoration: underline;
}

.link-message a:active {
    color: var(--sub-color);
}

/* ========== ↑ 主にuser_register, login ========== */
/* ========== ↓ 主にsettings ========== */ 
.settings-section {
    margin-top: 20px;
    border-top: 1px solid var(--gray);
}

.settings-section h2 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    color: var(--text-color);
}

.settings-section h2 .material-symbols-outlined {
    font-size: 30px;
    color: var(--main-color);
}

.settings-section .button-container {
    border-top: 0;
    padding-top: 0;
}